:root {
    box-sizing: border-box;
}

*, html , body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
    
#app {
    height: 100vh;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: aliceblue;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 5rem;
    height: 400px;
    width: 400px;
    text-align: center;
}
.title {
    text-align: center;
}
.games {
    display: flex;
    justify-content: center;
    align-items: center;

}
.option {
    width: 20%;
    padding: 10px 10px;
    margin: 25px;
    text-align: center;
    font-size: 1rem;
    background-color: bisque;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 2rem;
}
.option:hover {
    cursor: pointer;
    background-color: burlywood;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) ease-in-out;
    transform: scale(110%);
}